---
import { clients, currencies, planCycles } from "@/database/index";
import profile from "@/utils/profile";
import type { Clients } from "@/database/entities/Clients";
import type { Currencies } from "@/database/entities/Currencies";
import type { Servers } from "@/database/entities/Servers";
import type { Plans } from "@/database/entities/Plans";
import convertCurrency from "@/utils/convertCurrency";

interface Props {
  plan: Plans;
  server: Servers;
}

const cookie: string = `${Astro.cookies.get("_SECURE_SESSION_TOKEN_")?.value}`;
const c = profile(cookie);

let client: Clients | null = null;
if (c.success === true && c.clientId !== null) {
  client = await clients.findOneBy({ id: c.clientId });
}

const { plan, server } = Astro.props;

const planCycle = await planCycles
  .findOneBy({ planId: plan?.id });
const clientCurrency = await currencies
  .findOneBy({ id: client?.currency });
const defaultCurrency = await currencies.findOneBy({ id: 1 });
---

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title m-0">Purchased Plan</h5>
            </div>
            <div class="card-body">
                <h6 class="card-title">
                    Plan: {plan?.name}<br />
                    Server Name: {server?.serverName}<br />
                    Price: {clientCurrency?.symbol}{convertCurrency(Number(planCycle?.renewPrice ?? 0), defaultCurrency as Currencies, clientCurrency as Currencies)} {clientCurrency?.name}
                </h6>
                <p class="card-text">
                    <ul class="list-unstyled">
                        <li>RAM <span class="float-right">{plan?.ram} MB</span></li>
                        <li>CPU <span class="float-right">{plan?.cpu} %</span></li>
                        <li>Disk <span class="float-right">{plan?.disk} MB</span></li>
                        <li>Databases <span class="float-right">{plan?.databases}</span></li>
                        <li>Backups <span class="float-right">{plan?.backups}</span></li>
                        <li>Extra Ports <span class="float-right">{plan?.extraPorts}</span></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
