---
import { clients, currencies, plans, planCycles, settings } from "@/database/index";
import profile from "@/utils/profile";
import type { Clients } from "@/database/entities/Clients";
import type { Currencies } from "@/database/entities/Currencies";
import type { Servers } from "@/database/entities/Servers";
import convertCurrency from "@/utils/convertCurrency";
import { cycleTypeName, serverStatus, serverStatusName } from "@/utils/status";

interface Props {
  server: Servers;
}

const cookie: string = `${Astro.cookies.get("_SECURE_SESSION_TOKEN_")?.value}`;
const c = profile(cookie);

let client: Clients | null = null;
if (c.success === true && c.clientId !== null) {
  client = await clients.findOneBy({ id: c.clientId });
}

const { server } = Astro.props;

const serverPlan = server?.planId ? await plans.findOneBy({ id: server.planId }) : undefined;
const clientCurrency = await currencies
  .findOneBy({ id: client?.currency });
const defaultCurrency = await currencies.findOneBy({ id: 1 });
const planCycle = await planCycles
  .findOneBy({ planId: serverPlan?.id });
const panelUrl = await settings.findOneBy({ key: "panel_url" }).then((setting) => setting?.value);
const phpMyAdminUrl = await settings
  .findOneBy({ key: "phpmyadmin_url" })
  .then((setting) => setting?.value);
---

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-0">Server Information</h5>
            </div>
            <div class="card-body text-nowrap row">
                <p class="card-text col-5">
                    <b>Plan Name</b><br />
                    <b>Server Name</b><br />
                    <b>Server Status</b>
                </p>
                <p class="card-text col-7">
                    {serverPlan?.name}<br />
                    {server?.serverName}<br />
                    <span><span class={`badge ${server?.status === serverStatus.active ? "bg-success" : server?.status === serverStatus.suspended ? "bg-warning" : "bg-danger"}`}>{serverStatusName[server?.status]}</span></span>
                </p>
                <a href={`/client/servers/${server?.id}/plan`} class="btn btn-primary btn-sm col-12"
                    >Plan <i class="fas fa-arrow-circle-right"></i></a
                >
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-0">Billing Overview</h5>
            </div>
            <div class="card-body text-nowrap row">
                <p class="card-text col-7">
                    <b>Recurring Amount</b><br />
                    <b>Billing Cycle</b><br />
                    <b>Server Creation Date</b><br />
                    <b>Due Date</b><br />
                    <b>Payment Method</b><br />
                    <b>Backup Payment Method</b>
                </p>
                <p class="card-text col-5">
                    {clientCurrency?.symbol}{convertCurrency(Number(planCycle?.renewPrice ?? 0), defaultCurrency as Currencies, clientCurrency as Currencies)} {clientCurrency?.name}<br />
                    {cycleTypeName[Number(planCycle?.cycleType)]}<br />
                    {server?.createdAt?.toLocaleDateString()} - {server?.createdAt?.toLocaleTimeString(undefined, { hour: '2-digit', minute: '2-digit', hour12: false })}<br />
                    {server?.dueDate?.toLocaleDateString()} - {server?.dueDate?.toLocaleTimeString(undefined, { hour: '2-digit', minute: '2-digit', hour12: false })}<br />
                    {server?.paymentMethod}<br />
                    Account Credit
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-0">Resources</h5>
            </div>
            <div class="card-body text-nowrap row">
                <p class="card-text col-5">
                    <b>RAM</b><br />
                    <b>CPU</b><br />
                    <b>Disk</b><br />
                    <b>Databases</b><br />
                    <b>Backups</b><br />
                    <b>Extra Ports</b>
                </p>
                <p class="card-text col-7">
                    <span id="memory_usage"></span>{serverPlan?.ram} MB<br />
                    <span id="cpu_usage"></span>{serverPlan?.cpu}%<br />
                    <span id="disk_usage"></span>{serverPlan?.disk} MB<br />
                    <span id="database_usage"></span>{serverPlan?.databases}<br />
                    <span id="backup_usage"></span>{serverPlan?.backups}<br />
                    <span id="extra_port_usage"></span>{serverPlan?.extraPorts}
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-0">Quick Shortcuts</h5>
            </div>
            <div class="card-body text-nowrap row">
                <p class="card-text col-lg-4 col-6">
                    <a href={new URL(`/server/${server?.identifier}`, String(panelUrl)).toString()}><i class="fas fa-terminal"></i> Console</a><br />
                    <a href={new URL(`/server/${server?.identifier}/files`, String(panelUrl)).toString()}><i class="fas fa-folder-open"></i> Files</a><br />
                    <a href={new URL(`/server/${server?.identifier}/databases`, String(panelUrl)).toString()}><i class="fas fa-database"></i> Databases</a
                    ><br />
                    <a href={new URL(`/server/${server?.identifier}/schedules`, String(panelUrl)).toString()}><i class="fas fa-table"></i> Schedules</a>
                </p>
                <p class="card-text col-lg-4 col-6">
                    <a href={new URL(`/server/${server?.identifier}/users`, String(panelUrl)).toString()}><i class="fas fa-users"></i> Users</a><br />
                    <a href={new URL(`/server/${server?.identifier}/backups`, String(panelUrl)).toString()}><i class="fas fa-file-archive"></i> Backups</a
                    ><br />
                    <a href={new URL(`/server/${server?.identifier}/network`, String(panelUrl)).toString()}><i class="fas fa-network-wired"></i> Network</a
                    ><br />
                    <a href={new URL(`/server/${server?.identifier}/startup`, String(panelUrl)).toString()}><i class="fas fa-play"></i> Startup</a>
                </p>
                <p class="card-text col-lg-4 col-6">
                    <a href={new URL(`/server/${server?.identifier}/settings`, String(panelUrl)).toString()}><i class="fas fa-cogs"></i> Settings</a><br />
                    {phpMyAdminUrl && (
                        <a href={new URL(phpMyAdminUrl).toString()}><i class="fas fa-tools"></i> phpMyAdmin</a>
                    )}
                </p>
            </div>
        </div>
    </div>
</div>
