---
import { clients, currencies, credits } from "@/database/index";
import profile from "@/utils/profile";
import type { Clients } from "@/database/entities/Clients";
import convertCurrency from "@/utils/convertCurrency";
import type { Currencies } from "@/database/entities/Currencies";

const cookie: string = `${Astro.cookies.get("_SECURE_SESSION_TOKEN_")?.value}`;
const c = profile(cookie);

let client: Clients | null = null;
if (c.success === true && c.clientId !== null) {
  client = await clients.findOneBy({ id: c.clientId });
}

const clientCredit = client?.credit;
const clientCurrency = await currencies.findOneBy({ id: client?.currency });

const clientCreditsHistory = await credits.find({
  where: { clientId: client?.id },
  order: { createdAt: "DESC" },
});

const defaultCurrency = await currencies.findOneBy({ id: 1 });
---

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{clientCurrency?.symbol}{convertCurrency(clientCredit ?? 0, defaultCurrency as Currencies, clientCurrency as Currencies)} {clientCurrency?.name}</h3>
                <p>Account Credit</p>
            </div>
            <div class="icon">
                <i class="fas fa-money-bill-wave"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Fund</h3>
            </div>
            <form action="#" method="POST">
                <div class="card-body">
                    <div class="form-group">
                        <label for="creditInput">Credit Amount</label>
                        <input type="number" name="credit" class="form-control" id="creditInput" placeholder="Credit Amount" min="0" max="999999.99" step="0.01" required />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Payment Method</label>
                        <select name="gateway" class="form-control">
                            <option value="{{ $gateway::$display_name }}" selected>Mercado Pago</option>
                            <option value="{{ $gateway::$display_name }}">Paypal</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Purchase Credit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Credit Transactions</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th style="width:10%">ID</th>
                            <th style="width:30%">Details</th>
                            <th style="width:15%">Change</th>
                            <th style="width:15%">Balance</th>
                            <th style="width:30%">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {clientCreditsHistory.map((credit) => (
                            <tr>
                                <td>{credit.id}</td>
                                <td>{credit.details}</td>
                                <td>{credit.change > 0 ? "+" : "-"}{clientCurrency?.symbol}{`${convertCurrency(credit.change, defaultCurrency as Currencies,
                                clientCurrency as Currencies)}`.replace("-", "")} {clientCurrency?.name}</td>
                                <td>{clientCurrency?.symbol}{convertCurrency(credit.balance, defaultCurrency as Currencies, clientCurrency as Currencies)} {clientCurrency?.name}</td>
                                <td>{credit.createdAt?.toLocaleDateString()} - {credit.createdAt?.toLocaleTimeString(undefined, { hour: '2-digit', minute: '2-digit', hour12: false })}</td>
                            </tr>
                        ))}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
