---
import { clients, currencies, servers, tickets, invoices, credits } from "@/database/index";
import { serverStatus, ticketStatus, invoiceStatus } from "@/utils/status";
import profile from "@/utils/profile";
import type { Clients } from "@/database/entities/Clients";
import type { Currencies } from "@/database/entities/Currencies";
import convertCurrency from "@/utils/convertCurrency";

const cookie: string = `${Astro.cookies.get("_SECURE_SESSION_TOKEN_")?.value}`;
const c = profile(cookie);

let client: Clients | null = null;
if (c.success === true && c.clientId !== null) {
  client = await clients.findOneBy({ id: c.clientId });
}

const clientCredit = client?.credit;
const clientCurrency = await currencies.findOneBy({ id: client?.currency });
const totalActiveServers = await servers.count({
  where: { clientId: client?.id, status: serverStatus.active },
});
const clientServers = await servers.find({
  where: { clientId: client?.id, status: serverStatus.active },
  order: { updatedAt: "DESC" },
  take: 5,
});
const totalPendingTickets = await tickets.count({
  where: { clientId: client?.id, status: ticketStatus.pending },
});
const clientTickets = await tickets.find({
  where: { clientId: client?.id },
  order: { updatedAt: "DESC" },
  take: 5,
});
const totalPendingInvoices = await invoices.count({
  where: { clientId: client?.id, paid: invoiceStatus.pending },
});
const clientCredits = await credits.find({
  where: {
    clientId: client?.id,
  },
  take: 5,
  order: {
    createdAt: "DESC",
  },
});
const defaultCurrency = await currencies.findOneBy({ id: 1 });
---

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{clientCurrency?.symbol}{convertCurrency(clientCredit ?? 0, defaultCurrency as Currencies, clientCurrency as Currencies)} {clientCurrency?.name}</h3>
                <p>Account Credit</p>
            </div>
            <div class="icon">
                <i class="fas fa-money-bill-wave"></i>
            </div>
            <a href="/client/credits" class="small-box-footer">
                Add Fund <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{totalActiveServers}</h3>
                <p>Active Servers</p>
            </div>
            <div class="icon">
                <i class="fas fa-server"></i>
            </div>
            <a href="/client/servers" class="small-box-footer">
                View All <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{totalPendingInvoices}</h3>
                <p>Unpaid Invoices</p>
            </div>
            <div class="icon">
                <i class="fas fa-file-invoice-dollar"></i>
            </div>
            <a href="/client/invoices" class="small-box-footer">
                View All <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{totalPendingTickets}</h3>
                <p>Pending Tickets</p>
            </div>
            <div class="icon">
                <i class="fas fa-ticket-alt"></i>
            </div>
            <a href="/client/tickets" class="small-box-footer">
                View All <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Active Servers</h3>
                <div class="card-tools">
                    <a href="/client/servers" class="btn btn-default btn-sm"
                        >View All Servers <i class="fas fa-arrow-circle-right"></i></a
                    >
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Plan</th>
                            <th>Server Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Start of Servers -->
                        {clientServers.map((server) => (
                            <tr>
                                <td><a href={`/client/servers/${server.id}`}>{server.id}</a></td>
                                <td>{server.planId}</td>
                                <td>{server.serverName}</td>
                            </tr>
                        ))}
                        <!-- End of Servers -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Recent Support Tickets</h3>
                <div class="card-tools">
                    <a href="/client/tickets" class="btn btn-default btn-sm"
                        >View All Support Tickets <i class="fas fa-arrow-circle-right"></i></a
                    >
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Subject</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Start of Tickets -->
                        {clientTickets.map((ticket) => (
                            <tr>
                                <td><a href={`/client/tickets/${ticket.id}`}>{ticket.id}</a></td>
                                <td>{ticket.subject}</td>
                                <td><span class={"badge bg-" + (ticket.status === ticketStatus.pending ? 'warning' : ticket.status === ticketStatus.open ? 'info' : ticket.status === ticketStatus.closed ? 'danger' : 'success')}>{ticket.status === ticketStatus.pending ? 'Pending' : ticket.status === ticketStatus.open ? 'Open' : ticket.status === ticketStatus.closed ? 'Closed' : 'Resolved'}</span></td>
                            </tr>
                        ))}
                        <!-- End of Tickets -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Credit Transactions</h3>
                <div class="card-tools">
                    <a href="/client/credits" class="btn btn-default btn-sm"
                        >View All Credit Transactions <i class="fas fa-arrow-circle-right"></i></a
                    >
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Details</th>
                            <th>Change</th>
                            <th>Balance</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Start of Credit Transactions -->
                        {clientCredits.map((credit) => (
                            <tr>
                                <td>{credit.id}</td>
                                <td>{credit.details}</td>
                                <td>{credit.change > 0 ? "+" : "-"}{clientCurrency?.symbol}{`${convertCurrency(credit.change, defaultCurrency as Currencies,
                                clientCurrency as Currencies)}`.replace("-", "")} {clientCurrency?.name}</td>
                                <td>{clientCurrency?.symbol}{convertCurrency(credit.balance, defaultCurrency as Currencies, clientCurrency as Currencies)} {clientCurrency?.name}</td>
                                <td>{credit.createdAt?.toLocaleDateString()} - {credit.createdAt?.toLocaleTimeString(undefined, { hour: '2-digit', minute: '2-digit', hour12: false })}</td>
                            </tr>
                        ))}
                        <!-- End of Credit Transactions -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
