---
interface Props {
  route: string;
}

const { route } = Astro.props;

import { settings } from "@/database/index";

const companyName = await settings
  .findOneBy({ key: "company_name" })
  .then((setting) => setting?.value);
const logoPath = await settings.findOneBy({ key: "logo_path" }).then((setting) => setting?.value);
---

<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-no-expand">
    <a href="/admin" class="brand-link">
        <img src={logoPath} alt={`${companyName} Logo`} class="brand-image" />
        <span class="brand-text font-weight-light">{companyName}</span>
    </a>
    <div class="sidebar">
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/admin" class={`nav-link ${route === "admin.dash" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Admin Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="fas fa-server nav-icon"></i>
                        <p>
                            Servers
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/servers/active" class={`nav-link ${route === "admin.servers.active" ? "active" : ""}`}>
                                <i class="nav-icon far fa-check-circle"></i>
                                <p>Active</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/servers/pending" class={`nav-link ${route === "admin.servers.pending" ? "active" : ""}`}>
                                <i class="nav-icon fas fa-ellipsis-h"></i>
                                <p>Pending</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/servers/suspended" class={`nav-link ${route === "admin.servers.suspended" ? "active" : ""}`}>
                                <i class="nav-icon far fa-times-circle"></i>
                                <p>Suspended</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/servers/canceled" class={`nav-link ${route === "admin.servers.canceled" ? "active" : ""}`}>
                                <i class="nav-icon fas fa-ban"></i>
                                <p>Canceled</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">CLIENTS</li>
                <li class="nav-item">
                    <a href="/admin/clients" class={`nav-link ${route === "admin.clients" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-users"></i>
                        <p>Clients</p>
                    </a>
                </li>
                <li class="nav-header">PLANS AND PRICING</li>
                <li class="nav-item">
                    <a href="/admin/plans" class={`nav-link ${route === "admin.plans" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-scroll"></i>
                        <p>Server Plans</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/categories" class={`nav-link ${route === "admin.categories" ? "active" : ""}`}>
                        <i class="nav-icon far fa-folder"></i>
                        <p>Server Categories</p>
                    </a>
                </li>
                <!-- Coming Soon
                <li class="nav-item">
                    <a href="{{ route('admin.addon') }}" class="nav-link @if(Route::currentRouteName() == 'admin.addon') active @endif">
                        <i class="nav-icon fas fa-puzzle-piece"></i>
                        <p>Plan Add-ons</p>
                    </a>
                </li>
                 -->
                <li class="nav-item">
                    <a href="/admin/discounts" class={`nav-link ${route === "admin.discounts" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-percent"></i>
                        <p>Discounts</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/coupons" class={`nav-link ${route === "admin.coupons" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-tag"></i>
                        <p>Coupon Codes</p>
                    </a>
                </li>
                <li class="nav-header">BILLING</li>
                <li class="nav-item">
                    <a href="/admin/income" class={`nav-link ${route === "admin.income" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-money-bill-wave"></i>
                        <p>Income</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/invoices" class={`nav-link ${route === "admin.invoices" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-file-invoice-dollar"></i>
                        <p>Invoices</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/currencies" class={`nav-link ${route === "admin.currencies" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-dollar-sign"></i>
                        <p>Currencies</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/taxes" class={`nav-link ${route === "admin.taxes" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-funnel-dollar"></i>
                        <p>Taxes</p>
                    </a>
                </li>
                <li class="nav-header">SUPPORT</li>
                <li class="nav-item">
                    <a href="/admin/tickets" class={`nav-link ${route === "admin.tickets" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-ticket-alt"></i>
                        <p>Support Tickets</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/kb" class={`nav-link ${route === "admin.kb" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-book"></i>
                        <p>Knowledge Base</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/announcements" class={`nav-link ${route === "admin.announcements" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>Announcements</p>
                    </a>
                </li>
                <li class="nav-header">SETTINGS</li>
                <li class="nav-item">
                    <a href="/admin/settings" class={`nav-link ${route === "admin.settings" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Store Settings</p>
                    </a>
                </li>
                <li class={`nav-item ${`${route}`.startsWith("admin.pages") ? "menu-is-opening menu-open" : ""}`}>
                    <a href="javascript:void(0);" class={`nav-link ${`${route}`.startsWith("admin.pages") ? "active" : ""}`}>
                        <i class="fas fa-file nav-icon"></i>
                        <p>
                            Store Pages
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style={`${route}`.startsWith("admin.pages") ? "display: block" : "display: none"}>
                        <li class="nav-item">
                            <a href="/admin/pages/home" class={`nav-link ${route === "admin.pages.home" ? "active" : ""}`}>
                                <i class="nav-icon fas fa-home"></i>
                                <p>Home Page</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/pages/terms" class={`nav-link ${route === "admin.pages.terms" ? "active" : ""}`}>
                                <i class="nav-icon fas fa-file-alt"></i>
                                <p>Terms of Service</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/pages/privacy" class={`nav-link ${route === "admin.pages.privacy" ? "active" : ""}`}>
                                <i class="nav-icon far fa-file-alt"></i>
                                <p>Privacy Policy</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/pages/status" class={`nav-link ${route === "admin.pages.status" ? "active" : ""}`}>
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p>Status Page</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">EXTENSIONS</li>
                <li class="nav-item">
                    <a href="{{ route('admin.extension.show', ['id' => $extension::$display_name]) }}" class="nav-link">
                        <i class="nav-icon fas fa-plug"></i>
                        <p>a</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>